<style>
	.train-code{
		font-size: 2em;
		vertical-align: middle;
	}
	.header{
		font-size: 1.5em;
	}
</style>
<ion-view view-title="Booking">
<ion-content>

<script id="modal-login.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Welcome</h1>
    </ion-header-bar>
    <ion-content>
    	<div class="list">
  			<label class="item item-input">
    			<span class="input-label">Username</span>
    			<input type="text" value="sbts01">
  			</label>
  			<label class="item item-input">
    			<span class="input-label">Password</span>
    			<input type="password" value="admin">
  			</label>
		</div>
		<button class="button button-block button-positive" data-ng-click="bookingController.login()">
  			Login
		</button>
    </ion-content>
  </ion-modal-view>
</script>
  	
<script id="modal-stations.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{modalStationTitle}}</h1>
    </ion-header-bar>
    <ion-content>
    	<ul class="list">
			<a class="item" data-ng-repeat="station in stations track by $index" data-ng-click="bookingController.selectStation(station);">{{station.stationNameEn}}</a>
		</ul>
    </ion-content>
  </ion-modal-view>
</script>

<script id="modal-loading.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Loading</h1>
    </ion-header-bar>
    <ion-content>
		Loading...
		<button data-ng-click="loadingModal.hide()">x</button>
    </ion-content>
  </ion-modal-view>
</script>

<script id="modal-order.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Order</h1>
    </ion-header-bar>
    <ion-content>
		<ul class="list">
			<label class="item item-input">
    			<span class="input-label">TRAIN CODE</span>
    			<span>{{order.trainDirDay.trainCode}}</span>
  			</label>
			<label class="item item-input">
    			<span class="input-label">DEPARTURE</span>
    			<span>{{order.boardStation.station.stationNameEn}}</span>
  			</label>
			<label class="item item-input">
    			<span class="input-label">ARRIVED</span>
    			<span>{{order.arrivalStation.station.stationNameEn}}</span>
  			</label>
			<label class="item item-input">
    			<span class="input-label">AVALIABLESEAT</span>
    			<span>{{order.seatInfo.avaliableSeats}}</span>
  			</label>
			<label class="item item-input">
				<span class="input-label">SEATTYPE</span>
				<select ng-options="seat as seat.seatTypeNameEn for seat in order.seatInfo track by seat.seatType" ng-model="order.seat"></select>
			</label>
			<label class="item item-input">
    			<span class="input-label">QUANTITY</span>
    			<input type="text" data-ng-model="order.quantity" />
  			</label>
			<li class="item">
				<button class="button button-block button-assertive" data-ng-click="bookingController.confirm()" data-ng-disabled="!bookingController.checkConfirmState()">Confirm</button>
				<button class="button button-block button-dark" data-ng-click="orderModal.hide()">Cancel</button>
			</li>
		</ul>
    </ion-content>
  </ion-modal-view>
</script>

	<ul class="list">
		<li class="item" style="text-align: center;">
			<button class="button button-clear button-positive" data-ng-click="bookingController.showStations('Departure Station')">{{departureStation.stationNameEn}}</button>
			<button class="button button-clear button-positive" style="color:#000;" data-ng-click="bookingController.exchangeStation()"><i class="ion-arrow-swap"></i></button>
			<button class="button button-clear button-positive" data-ng-click="bookingController.showStations('Arrived Station')">{{arrivedStation.stationNameEn}}</button>
		</li>
		<label class="item item-input">
			<span class="input-label"  style="width:50px;">DATE</span>
			<button class="button button-clear button-positive" data-ng-click="bookingController.openDepartureDatePicker()">{{departureDate | date:'yyyy-MM-dd'}}</button>
		</label>
		<label class="item item-input">
			<span class="input-label" style="width:50px;">TYPE</span>
			<ion-checkbox style="padding:50px 10px 0 0; border: 0;" data-ng-repeat="type in seatTypes track by type.seatTypeCode" data-ng-click="bookingController.seatTypeTrigged()" data-ng-model="selectedSeatTypes[$index]">{{type.seatTypeEn}}</ion-checkbox>
		</label>
		<li class="item">
			<button class="button button-block button-calm" data-ng-click="bookingController.query()">Query</button>
		</li>
	</ul>

	<div class="list">
		<div class="item">
			<div class="row">
		  		<div class="col header">TRAIN</div>
		  		<div class="col header">DEP</div>
		  		<div class="col header">ARR</div>
		  		<div class="col header">SEATS</div>
		  	</div>
		</div>
		<a data-ng-hide="train.visible == false" href="" class="item" data-ng-click="bookingController.popOrder(train)" data-ng-repeat="train in trainList track by train.trainDirDay.id">
		  	<div class="row {{train.seatInfo.css}}">
				<div class="col" class="train-code">{{train.trainDirDay.trainCode}}</div>
				<div class="col">{{train.boardStation.station.stationNameEn}}</div>
				<div class="col">{{train.arrivalStation.station.stationNameEn}}</div>
				<div class="col">{{train.seatInfo.avaliableSeats}}</div>
		  	</div>
		</a>
	</div>
</ion-content>
</ion-view>
